 {% extends "events/index.html" %} {% load static %} {% block content %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="btn btn-dark">
            <h1 class="cover-heading">CREATE EVENTS</h1>
        </div>
    </div>
</div>
<div class="btn btn-light ">

    <form name="event-create-form" method="POST">
        {% csrf_token %}
        <!-- <div class="btn btn-success">
            <h2 class="event-label cover-heading">Event Title</h2>
        </div> -->
        <div class="form-group">
            <label class="form-label">Event Title</label>
            <input type="text" class="form-control" name="event_title" placeholder="Event Title">
        <br>    
        <div class="form-group">
            <label class="form-label">Event Type</label>
            <input type="text" class="form-control" name="event_type" placeholder="Event Type" type="text">
            
        </div>
        <br>
        <!-- <img class="event-type-img" src="{% static 'events/img/event1.png' %}" alt="events" data-type="events"/><br><br> -->

        <div class="form-group">
            <label class="form-label">Event Location</label>
            <input type="text" class="form-control" name="event_location" placeholder="Event Location" type="text">
        </div>
        <br>
        <br>
        <div>  
            <label class="event-start-time">Start Time:</label>
            <input class="event-start-time" type="time" name="event_start_time" />
            <br>
            <br>
            <label for="event-end-time">End Time:</label>
            <input class="event-end-time" type="time" name="event_end_time" />
                
        </div>
        <br>
        <br>
        <div class="event-label cover-heading">
            <h2 class="event-label cover-heading">Description</h2>
        </div>
        
        <textarea class="event-description" name="event_description" cols="75" rows="5"></textarea>
        
        <!-- <input type="hidden" name="user-id" value="{{ user.id }}" /> -->
        <br>
        <br> {% if user.is_authenticated %}
        <div class="form-group">
            <input type="submit" value="Submit">
            <!-- <button class="btn btn-success event-create-btn" type="submit">Create</button> -->
        </div>
        <br>
        <br> {% else %}

        <p class="signin-error">Sign in to create events</p>

        {% endif %}
    </form>

    </main>
</div>
{% endblock %}