{% extends "events/index.html" %}
{% load static %} 
{% block content %}
<center>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="btn btn-dark">
            <h1 class="cover-heading">CREATE EVENTS</h1>
        </div>
    </div>
</div>
<div class="btn btn-danger ">

    <form name="event-create-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{error_message}}
        <!-- <div class="btn btn-success">
            <h2 class="event-label cover-heading">Event Title</h2>
        </div> -->
        <div class="form-group">
            <label class="form-label">Event Title</label>
            <input type="text" class="form-control" name="event_title" placeholder="Event Title">
        <br>    
        <div class="form-group">
            <label class="form-label">Event Type</label>
            <input type="text" class="form-control" name="event_type" placeholder="Event Type" type="text">
            
        </div>
        <div class="form-group">
        <label for="avatar">Choose a picture:</label>
        <input type="file" id="avatar" name="picture">
        </div>
        <div class="form-group">
            <label class="form-label">Event Location</label>
            <input type="text" class="form-control" name="event_location" placeholder="Event Location" type="text">
        </div>
        <br>
        <br>
        <div>  
            <label class="event-start-date">Start Date:</label>
            <input class="event-start-date" type="date" value="2018-02-07" name="event_start_date" />
            <br>
            <br>
            <label for="event-end-date">End Date:</label>
            <input class="event-end-date" type="date"value="2018-02-07" name="event_end_date" />
                
        </div>
        <br>
        <br>
        <div class="event-label cover-heading">
            <h2 class="event-label cover-heading">Description</h2>
        </div>
        
        <textarea class="event-description" name="event_description" cols="75" rows="5"></textarea>
        
        <!-- <input type="hidden" name="user-id" value="{{ user.id }}" /> -->
        <br>
        <br> {% if user.is_authenticated %}
        <div class="form-group">
            <input type="submit" value="Create Events">
            <!-- <button class="btn btn-success event-create-btn" type="submit">Create</button> -->
        </div>
        <br>
        <br> {% else %}

        <p class="signin-error">Sign in to create events</p>

        {% endif %}
    </form>

    </main>
</div>
</center>
{% endblock %}