{% extends "events/index.html" %}
{% load static %} 
{% block content %}
<center>
    <h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Create Event</h1>
<br>
<div class="btn btn-dark ">

    <form name="event-create-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{error_message}}
        <!-- <div class="btn btn-success">
            <h2 class="event-label cover-heading">Event Title</h2>
        </div> -->
        <div class="form-group" >
            <label class="form-label">Event Title</label>
            <input type="text" class="form-control" name="event_title" placeholder="Event Title">
        <br>    
        <div class="form-group" >
            <label class="form-label">Event Type</label>
            <input type="text" class="form-control" name="event_type" placeholder="Event Type" type="text">
            
        </div>
        <div class="form-group">
        <label class="form-label">Choose a picture:</label>
        <input type="file" class="form-control"id="avatar" name="picture">
        </div>
        <div class="form-group" >
            <label class="form-label">Event Location</label>
            <input type="text" class="form-control" name="event_location" placeholder="Event Location" type="text">
        </div>
        <br>
        <br>
        <div class="form-group" >  
            <label class="form-label">Start Date:</label>
            <input class="form-control" type="date"  name="event_start_date" />
            <br>
            <br>
            <label class="form-label">Start Time:</label>
            <input class="form-control" type="time"  name="event_start_time" />
            <br>
            <br>
            <label  class="form-label">End Date:</label>
            <input class="form-control" type="date" name="event_end_date" />
            <br>
            <br>
            <label class="form-label">End Time:</label>
            <input class="form-control" type="time"  name="event_end_time" />
            
                
        </div>
        <br>
        <br>
        <div class="event-label cover-heading">
            <h2 class="event-label cover-heading">Description</h2>
        </div>
        <textarea class="event-description" name="event_description" cols="75" rows="5"></textarea>

        <div class="form-group" >
            <!-- <label class="form-label">Maximum number of tickets</label> -->
            <input type="hidden" class="form-control" name="maximum_tickets" value="50" placeholder="Maximum tickets">
        </div>

        <div class="form-group" >
            <label class="form-label">Ticket Price</label>
            <input type="number" class="form-control" name="price" placeholder="Ticket price">
        </div>

        
        
        <!-- <input type="hidden" name="user-id" value="{{ user.id }}" /> -->
        <br>

        <br> {% if user.is_authenticated %}
        <div class="form-group">
            <input type="submit" value="Create Event">
            <!-- <button class="btn btn-success event-create-btn" type="submit">Create</button> -->
        </div>
        <br>
        <br> {% else %}

        <p class="signin-error">Sign in to create event</p>

        {% endif %}
    </form>

    </main>
</div>
</center>
{% endblock %}