{% extends "events/index.html" %}
{% load static %}

{% block content %}
    

    <div class="container-fluid" style="background-color:pink;" >

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="font-size:50px;">Dashboard</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Tickets  Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" style=" font-size:15px; ">MOVIE AND EVENT TICKETS </div>

                      <div class="h5 mb-0 font-weight-bold text-gray-800">BUY TICKETS NOW!</div>
                      <!--<a href="/events/tickets.html"></a>-->
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Entertainment Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1" STYLE="font-size:15px; ">ENTERTAINMENT</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">ALL DAY EVERYDAY</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Sports Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-danger shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1" STYLE="font-size:15px; ">SPORTS</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">LATEST SPORTS NEWS</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">FREE EVENTS</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">DON'T MISS OUT</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
        <h2 style="font-weight:bolder;text-align:center;">UPCOMING EVENTS</h2>



        <div class="card-deck" style="padding-left:10px;padding-right:10px;">
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(g).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">MSK 2019 AWARDS</h5>
      <p class="card-text">Welcome to MSK 2019 Awards.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Buy tickets now</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(h).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">Crazy Glow Fest</h5>
      <p class="card-text">Come ready to glow.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Get your ticket now!</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item"  alt="Card image cap" src="{% static 'events/img/baking.png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">Halloween Baking Classes for kids</h5>
      <p class="card-text">Want your kids to learn how to bake? </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Don't miss out</small>
    </div>
  </div>
</div>   
<br>

  <div class="card-deck" style="padding-left:10px;padding-right:10px;">
  <div class="card " style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(a).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">AFRO SOCIAL EVENT</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item"  alt="Card image cap" src="{% static 'events/img/movie6.png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">THE SHAFT</h5>
      <p class="card-text">More Shaft than you can handle.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Don't miss out</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(c).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">BOMAS OF KENYA EVENTS</h5>
      <p class="card-text">Bomas of Kenya welcomes you to its cultural dances events.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Don't miss out</small>
    </div>
  </div>
</div>


<br>


<div class="card-deck" style="padding-left:10px;padding-right:10px;">
  <div class="card" style="width: 18rem;paddi">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(d).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">Nairobi Pizza Week</h5>
      <p class="card-text">The Nairobi Pizza Week Festival is finally here.Get free pizza for every purchase and 5% refundable on payment with mpesa</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Welcome to Nairobi Pizza Festival </small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item " alt="Card image cap"src="{% static 'events/img/capture(e).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">Keith Powell Whisky Tasting</h5>
      <p class="card-text">Get to taste the best whiskeys and buy at discounted prices.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Best whiskeys ever</small>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item" alt="Card image cap" src="{% static 'events/img/capture(f).png' %}" /><br>
  </div>
    <div class="card-body">
      <h5 class="card-title">Nairobi Music Awards 2019</h5>
      <p class="card-text">Join us as we appreciate music </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Rate your best musicians</small>
    </div>
  </div>
</div>

<br>




              
{% endblock %}

    <!-- Sidebar -->
   