{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Events</h1>

<table cellspacing="20">
<thead>
<tr>
<th>Event Name</th>
<th>Event Type</th>
<th>Event Location</th>
<th>Event Description</th>
<th>Event Start Time</th>
<th>Event End Time</th>
<th>Event Action</th>
</tr>
</thead>
<tbody>
{% for events in all_objects %} 
 
<tr>
<td>{{ events.event_title }}</td>
<td>{{ events.event_type }}</td>
<td>{{ events.event_location }}</td>
<td>{{ events.event_description }}</td>
<td>{{ events.event_start_time }}</td>
<td>{{ events.event_end_time }}</td>

<td>
	
<a  href="#">eventDetails</a>
<a  href="#">editEvents</a>
<a  href="#">deleteEvents</a>
</td>
</tr>

{% endfor %}
</tbody>
</table>
</body>
</html>