{% extends "events/index.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>

      <title></title>
   </head>
   <body>
      <h3 class="display-3" style="background-color:#000000;color:#FFFF99;text-align:center;">Event Details </h3>
      <div class="container" style="padding-left:2px;padding-right:100px;padding-top:20px;padding-bottom:100px;">
         <div class="row">
            <div class="col-sm-8" >
               <h5 style="font-weight:bolder;">{{ event.event_title }}</h5>
               <div class="card" style="width: 18rem;">
                  {% if event.picture %}
                  <div class="embed-responsive embed-responsive-1by1">
                     <img class="card-img-top embed-responsive-item"  alt="Card image cap" src="{{ event.picture.url}}"> 
                  </div>
                  {% endif %}
                  <div class="card-body">
                     <h5 class="card-title" style="font-size:18px; font-weight:bold;">{{ event.event_title }}</h5>
                     <p class="card-text"  style="font-weight:lighter;">{{ event.event_type }}</p>
                     <p class="card-text" style="font-weight:bolder;">{{event.event_location }}</p>
                     <p class="card-text" style="font-weight:lighter;">{{event.event_start_date }}-{{event.event_end_date }}</p>
                     <p class="card-text" style="font-weight:lighter;">{{event.event_start_time }}-{{event.event_end_time }}</p>
                     <!-- <h5>About the Event:</h5> -->
                     <p class="card-text" style="font-weight:bolder;">Ticket price: KSH{{event.price }}</p>
                     <p style="font-weight:bolder;">{{ event.event_description }}</p>
                  </div>
               </div>
            </div>
         
         <div class="col-sm-4">
            <h5 style="font-weight:bolder;">PURCHASE A TICKET</h5>
         <form name="ticket_form" method="POST" >
            {% csrf_token %}  
            <div class="form-group" style="width: 50%">
               <label class="form-label">Price</label>
               <input field="price" class="form-control" name="price" value="{{event.price}}" disabled>
            </div>
            <div class="form-group" style="width: 50%">
               <label class="form-label">Quantity</label>
               <input type="number" class="form-control" name="quantity" required>
               <h5>{{error_text}}</h5>
               <h5>{{error_message}}</h5>
               <h5>{{error}}</h5>
               <h5>{{raise_error}}</h5>
               
            </div>
            <div class="form-group"style="width: 50%" >
               <label class="form-label">Total</label>
               <input type="total" class="form-control" name="total" value="0" disabled>
            </div>
            <div>
               <h1>{{sold_out}}</h1>
               <h1>{{message}}</h1>
               
               <button type="submit" class="btn btn-success" name="buyticket"/>BUY TICKET</button>
               <a  href="/events/shoppingcart"class="btn btn-dark">ADD TO CART</a>
               
            </div>
         </form>
      </div>
     
      </div>
      </div>
   </body>
</html>
{% endblock %}