
{% extends "events/index.html" %}
{% load static %}
{% block content %}
                    <div class="jumbotron jumbotron-fluid" >
                    <div class="container">
                            <div class="btn btn-dark"> 
                            <h1 class="cover-heading">VIEW EVENTS</h1>
                            </div>
                          </div>
                        </div>
                    <div class="container">
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/event1.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">MODELLING EVENT</h3>
                    <br>
                    <h5 class="owner">Brought to you by Sphere Kenya</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Join us at Diamond Plaza </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Lets have fun together</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>
                    </div>
                
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/event2.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">CULTURAL EVENT</h3>
                    <br>
                    <h5 class="owner">Brought to you by Kenya Theatre</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Kenya National Theatre </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Don't be left out!</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>
                
                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/event7.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">MUSIC EVENT</h3>
                    <br>
                    <h5 class="owner">Brought to you by Empress Theatre</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Empress Theatre </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Lets have fun together</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>

                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/event5.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">JAZZ CONCERT</h3>
                    <br>
                    <h5 class="owner">Brought to you by Goethe Institut Auditorium</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Join us at Goethe Auditorium</span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Lets have fun together</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>
                    
                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/event6.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">SAFARI RALLY EVENT</h3>
                    <br>
                    <h5 class="owner">Brought to you by Wild Lukenya</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Join us at Wild Lukenya</span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Lets have fun together</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                   


                    </div>

                    </div>



                </div>
          </main>

{% endblock %}

