{% extends "events/index.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>

<h1 class="display-3" style="background-color:#000000;color:#FFFF99;">Event Details</h1>

<table cellspacing="50" class = 'w-50 table table-light' style="border-radius:10px;background-color:#FFFF99;">

<h1>{{ event.event_title }}</h1>
<div class="card" style="width: 18rem;">
    {% if event.picture %}
    <div class="embed-responsive embed-responsive-1by1">
    <img class="card-img-top embed-responsive-item"  alt="Card image cap" src="{{ event.picture.url}}"> 
</div>
    {% endif %}

    <div class="card-body">
    <h5 class="card-title" style="font-size:18px; font-weight:bold;">{{ event.event_title }}</h5>
    <p class="card-text"  style="font-weight:lighter;">{{ event.event_type }}</p>
    <p class="card-text" style="font-weight:bolder;">{{event.event_location }}</p>
    <p class="card-text" style="font-weight:lighter;">{{event.event_start_date }}-{{event.event_end_date }}</p>
    <p class="card-text" style="font-weight:lighter;">{{event.event_start_time }}-{{event.event_end_time }}</p>
        <!-- <h5>About the Event:</h5> -->
    <p style="font-weight:bolder;">{{ event.event_description }}</p>
    </div>
</div>
<br>
<br>
<div class="btn btn-dark">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Ticket details</b>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    
                    <th class="col-xs-3">Ticket type</th>
                    <th class="col-xs-3">Price (KSH)</th>
                    <th class="col-xs-3">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>
                        <p class="form-control-static">{{event.ticket_type}}</p>
                    </td>
                    <td>
                        <p class="form-control-static">{{event.price}}</p>
                    </td>
                    <td>
                    <div class="form-group" >
                        
                        <input type="number" class="form-control" name="quantity"  type="text">
                    </div>
                    </td>
                </tr>
                



  </tbody>
    </table>
</div>
<div class="col-xs-12 text-right">
    <p>PS: There are only <strong>10</strong> ticket still available.</p>
    Buy ticket for {{ event.event_title }}
    <br><br>
    <input type="submit" class="btn btn-success" value="Buy Ticket" />
</div>
</body>
</html>

{% endblock %}
