
{% extends "events/index.html" %}
{% load static %}
{% block content %}
                    <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                            <div class="btn btn-dark"> 
                            <h1 class="cover-heading">VIEW MOVIES</h1>
                            </div>
                          </div>
                        </div>
                    <div class="container">
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/movie7.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">RAFIKI</h3>
                    <br>
                    <h5 class="owner">Brought to you by Thameside Theatre</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Wednesday, September 11th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 07:30 PM - 09:30 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Thameside Theatre </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Don't miss out!</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>
                    </div>
                
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/movie6.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">THE SHAFT</h3>
                    <br>
                    <h5 class="owner">Brought to you by ANGA IMAX</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Wednesday, Nov 1st 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 02:00 PM - 04:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Anga Imax </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Don't be left behind</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>
                
                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/movie5.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">THE BOY WHO HARNESSED THE WIND</h3>
                    <br>
                    <h5 class="owner">Brought to you by Century Cinema</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Monday, December 9th ,2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 12:00 PM - 02:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Century Cinema</span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Come one come all</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>

                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/movie4.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">ANGEL HAS FALLEN</h3>
                    <br>
                    <h5 class="owner">Brought to you by Anga Imax</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 04:30 PM - 06:00 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Anga Imax </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;">Come Enjoy! </span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                    </div>

                    </div>
                    
                    <br>
                    <br>
                    <div class="row justify-content-start">
                    <div class="col-4">
                    
                    <img class="event-type-img" src="{% static 'events/img/movie8.png' %}" alt="events" data-type="events"/><br><br>
                    
                    </div>
                    <div class="col-4">
                    <h3 class="event">BAYWATCH</h3>
                    <br>
                    <h5 class="owner">Brought to you by Imax</h5>
                    <p class="eventDate"><span style="margin-right: 10px;">Saturday, Oct 19th 2019 </span></p>
                    <p class="owner">
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> 5:30 PM - 07:30 PM</span>
                    </p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Imax </span>
                    <br>
                    <p>
                    <span style="margin-right: 10px;" style="padding-right: 5px;"> Don't miss out</span>
                    <br>
                    <br>
                    <button type="button" class="btn btn-primary">BUY TICKET</button>
                    </p>
                   


                    </div>

                    </div>



                </div>
          </main>

{% endblock %}

