{% extends "events/index.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
   <head>
      <title></title>
   </head>
   <body>
<center>
<h2>MY SHOPPING CART </h2>
<div class="cart-gd">
  
   <div class="cart-header" id="{{item.id}}" >
      <a href="#" class="close1 deleteItem" data-item-id="{{item.id}}"> </a>
      <div class="cart-sec simpleCart_shelfItem">
         <div class="cart-item cyc">
            <img src="{{events.picture.url}}" class="img-responsive" alt=""/>
         </div>
         <h3>{{event_name}}</h3>
         <form name="ticket_form" method="POST" >
            {% csrf_token %}  
            <div class="form-group" style="width: 50%">
               <label class="form-label">Price</label>
               <input type="price" class="form-control" name="price" value="{{event_price}}" >
            </div>
            <div class="form-group" style="width: 50%">
               <label class="form-label">Quantity</label>
               <input type="number" class="form-control" name="quantity" value="{{ticket_quantity}}" >
            </div>
            <div class="form-group"style="width: 50%" >
               <label class="form-label">Total</label>
               <input type="total" class="form-control" name="total" value="{{event_total}}">
            </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Event Name</th>
      <th scope="col">Ticket Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in cart.products.all %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ event_name }} <small><a href="#">Remove</a></small></td>
      <td>{{ event_price }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"></td>
      <td><b>Subtotal</b>  {{ cart.subtotal }}</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>Total</b> {{ cart.total }}</td>
    </tr>
  </tbody>
</table>
   -->
   <div style="margin-top: 50px; text-align: center;">
      <input class="btn btn-primary" type="submit" value="Remove From Cart" /> 
      <br><br><br> 
      <a href="/checkout" class="btn btn-primary">Buy Items</a>
   </div>

</center>

{% endblock %}